* {
	margin: .3em;
	box-sizing: border-box;
}

h1.head {
	margin: 1em;
	padding: 1em;
	font-family: serif;
	font-style: normal;
	text-align: center;
}

.fps, .strat, .sport {
	position: relative;
	top: 0;
	right: 0;
	width: 20%;
	padding: 0;
	margin: 0;
	text-align: center;
	border: .2em solid black;		/*genre declaration in small box*/
	background-color: pink;
	float: right;
	clear: left;
}
.strat {
	background-color: red;
}
.sport {
	background-color: cyan;
}

.container {
	width: 100%;						/*row setup*/
	height: 100%;
}

@media (min-width: 992px){
	.box1, .box2, .box3 {
		position: relative;
		float: left;					/*big screen setup*/
		background-color: orange;
		border:.2em solid black;
		width: 30%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.box1, .box2, .box3 {
		position: relative;
		float: left;					/*medium screen setup*/
		background-color: orange;
		border:.2em solid black;
		width: 45%;
	}
	.box3 {
		width: 91%;
	}
}

@media (max-width: 767px){
	.box1, .box2, .box3 {
		position: relative;
		float: left;					/*small screen setup*/
		background-color: orange;
		border:.2em solid black;
		width: 90%;
	}
} 